RewriteEngine On

# disable TRACK and TRACE http methods. 'RewriteEngine On' is required!
RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK)
RewriteRule .* - [F]

RewriteRule ^(.*)-(\d+).html$ index.php?controller=pjListings&action=pjActionView&id=$2

Options -Indexes
ServerSignature Off
<ifModule mod_headers.c>
	Header unset X-Powered-By
</ifModule>

<IfModule php5_module>
	php_value session.cookie_httponly true
</IfModule>

php_flag display_startup_errors off
php_flag display_errors off