@CHARSET "UTF-8";
.property-container{
	color: #a7a9ab;
	font: normal 13px Arial, Helvetica, sans-serif;
	margin: 0 auto;
	width: 740px;
	overflow:auto;
}
.property-container h1{
	color: #3c3f43;
	font: bold 26px/20px Arial, sans-serif;
	margin: 40px 0 30px;
	padding: 0;
}
.property-container a:link, .property-container a:visited, .property-container a:hover{
	color: #188bc2;
	text-decoration: none;
}
.property-container a:hover{
	text-decoration: underline;
}
.property-listing{
	background-color: #fcfcfc;	
	border: solid 1px #e0dfdf;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 0 auto 11px auto;
	overflow: hidden;
	padding: 12px;	
	color: #92979d;
	font: normal 13px/19px Arial, sans-serif;
}
.property-listing:hover,
.property-listing-hover{
	border: solid 1px #a7c1d9;
	background-color: #fff;
}
.property-listing img{
	border: none;
}
.property-body p{
	margin: 0;
}
.property-body-pic{
	float: left;
	width: 25%;
}
.property-body-pic img{
	border: none;
	max-width: 171px;
}
.property-listing-right{
	float: left;
	overflow: hidden;
	width: 75%;
}
.property-body-description{
	margin: 0;
	padding: 10px;
	overflow: hidden;
	width: auto;
}
.property-body-details{
	background-color: #fff;
	border: solid 1px #f0f0f0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 2px #e6e6e6;
	overflow: hidden;
	padding: 10px;
	width: auto;
}
.property-item-holder{
	color: #555;
	float: left;
	width: 85%;
}
.property-item-price{
	float: right;
	text-align: right;
	width: 15%;
}
.property-item-price span{
	color: #000;
	display: block;
	font: bold 18px/20px Arial, sans-serif;
}
.property-item-wrap{
	display: inline-block;
	margin: 0 10px 0 0;
}
.property-item-label{
	color: #92979d;
	font-weight: normal 13px/20px Arial, sans-serif;
}
.property-item-value{
	color: #3b3e42;
	font: bold 13px/20px Arial, sans-serif;
}
a.property-item-url:link,
a.property-item-url:active,
a.property-item-url:visited{
	color: #306eb3;
	font: bold 18px/20px Arial, sans-serif;
	text-decoration: none;
}
a.property-item-url:hover{
	color: #3c3f43;
	text-decoration: none;
}
a.property-body-link img{
	margin: 10px 0 0 0;
}
.property-search-form{
	margin: 10px 0;
}
/* front view */
.property-search-empty,
.property-view-na,
.property-index-empty{	
	font-weight: bold;
	padding: 0 10px;
}
.property-view-left{
	float: left; 
	width: 55%;
}
.property-view-right{
	float: left;
	margin: 0 0 0 10px;
	width: 43%;
}
.property-view-heading{
	background-color: #EFEFEF;
	font-weight: bold;
	padding: 0 5px;
}
.property-view-content{
	padding: 10px;
}
.property-view-content p{
	margin: 0 0 5px 0;
	overflow: hidden;
}
.property-view-pic{
	margin: 0 0 5px 0;
	overflow: hidden;
}
.property-view-img{
	float: left;
	margin: 0 2px 4px 2px;
	height:67px;
	max-width:90px;
	max-height:67px;
	overflow:hidden;
}
.property-view-img img{ 
	border: none;
	max-width: 90px;
}
.property-view-map{
	border-top: solid 1px #fff;
	width: 100%;
	height: 300px;
	position: relative; 
	background-color: #E5E3DF;
}
.property-view-form{
	float: left;
	width: 64%;
}
.property-view-terms{
	float: right;
	width: 30%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #f9f8f4;
	border: solid 1px #dad6ce;
	padding: 8px;
	margin: 0 10px 0;
}
.property-view-terms-content{
	max-height: 378px;
	overflow-y: auto;
}
/* front search */
.property-search{

}
.property-search p{
	margin: 0 0 5px 0;
	padding: 5px;
}
.property-search label{
	float: left;
	width: 42%;
}
.property-search-left{
	float: left;
	width: 44%;
}
.property-search-right{
	float: left;
	margin: 0 0 0 5px;
	width: 44%;
}
/* front form elements */
.property-text{
	border: solid 1px #c8cacf;
	padding: 3px 4px;
}
.property-text-small{width: 70px;}
.property-text-medium{width: 166px;}

.property-select{
	border: solid 1px #c8cacf;
	padding: 3px 4px;
}
.property-select-day{width: 50px;}
.property-select-month{width: 60px; margin-left: 2px}
.property-select-year{width: 62px; margin-left: 2px}
.property-select-small{width: 80px;}
.property-select-medium{width: 176px;}
/* front menu */
.property-menu{
	list-style: none;	
	font-weight: bold;
	margin: 0 0 30px 0;
	padding: 0 10px;
}
.property-menu li{
	display: inline;
	padding: 0 5px 0 0;
}
.property-menu a:link, .property-menu a:visited{
	color: #9B2C02;
	text-decoration: none;
}
.property-menu a:hover{
	text-decoration: underline;
}
/* pagination */
.property-paginator{
	height: 36px;
	line-height: 36px;	
	list-style: none;
	float: right;
	margin: 5px 0 0 0;
	padding: 0;
	overflow: hidden;
}
.property-paginator li{
	display: inline-block;
	height: 36px;
	line-height: 36px;
}
.property-paginator span.current{
	margin: 0 0 0 5px;
}
.property-paginator span.dots{
	margin: 0 0 0 5px;
}
.property-paginator span.current,
.property-paginator a:link, 
.property-paginator a:visited,
.property-paginator a:active, 
.property-paginator a:focus, 
.property-paginator a.focus{
	background: transparent url(../img/layout_1/pagin-left.png) 0 0 no-repeat;
	color: #b1b1b2;
	display: block;
	font: normal 13px/33px Arial, sans-serif;
	height: 36px;
	line-height: 36px;
	margin: 0 0 0 5px;
	padding: 0 10px;
	position: relative;
	text-decoration: none;
}
.property-paginator span.current,
.property-paginator a:hover{
	background-position: 0 -36px;
	color: #fff;
	text-decoration: none;
}
.property-paginator span.current abbr,
.property-paginator a abbr{
	background: #f2f2f2 url(../img/layout_1/pagin-right.png) 0 0 no-repeat;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	height: 36px;
	width: 5px;
}
.property-paginator span.current abbr,
.property-paginator a:hover abbr{
	background-position: 0 -36px;
}
/* form */
.property-form{

}
.property-form p{
	margin: 0 0 10px 0;
	overflow: hidden;
}
.property-form label.property-title{
	float: left;
	width: 120px;
	font-weight: normal;
	display: block;
}
.property-form .property-text,
.property-form .property-textarea,
.property-form .property-select{
	border: solid 1px #d9d9d9;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font: normal 12px Arial, sans-serif;
	padding: 7px 5px;
}
/* re-design */
.property-state{
	background-color: #fcfcfc;
	border: solid 1px #e0dfdf;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #888;
	overflow: hidden;
}
.property-state h2{
	border-bottom: solid 1px #dfe0e0;
	color: #373a3e;
	font: bold 16px/29px Arial, sans-serif;
	margin: 0 0 10px;
	padding: 0;
}
.property-heading{
	background-color: #f2f2f2;
	border: solid 1px #dadcde;
	height: 45px;
	line-height: 45px;
	margin: 0 auto 11px;
	padding: 0 10px;
}
.property-view-booking-links{
	position: absolute; 
	right: 10px; 
	top: 0;
}
.property-table{
	border-collapse: collapse;
	color: #626262;
	font-size: 1em;
}
.property-table th{
	border-bottom: solid 1px #dfe0e0;
	color: #a7a9ab;
	font-weight: normal;
	padding: 10px 0;
	text-align: left;
}
.property-table td{
	border-bottom: solid 1px #dfe0e0;
	padding: 8px 0;
}

/*** Featured Properties ***/
.property-listing-featured {	
	border: solid 1px #CDCDCD;
	margin: 5px;
	overflow: hidden;
	padding: 0;	
	display: inline-block;
	height: 179px;
	zoom: 1;
	*display: inline;
}

.property-listing-featured img {
	border: none;
}

.property-head-featured {
	width: 212px;
}

.property-body-featured{
	overflow: hidden;
	margin: 7px;
}
.property-body-featured p{
	margin: 0;
}
.property-body-pic-featured{
	float: left;
	width: 90px;
	margin-right: 7px;
}
.property-body-pic-featured img{
	border: none;	
}

.property-body-details-featured{
	float: left;
	width: 121px;
}
.property-body-details-featured p{
	margin: 0 0 7px 0;
}
.property-body-details-featured label{
	font-weight: bold;
}
.property-view-contacts{
	margin-top:40px;
}
/* anchor links */
a.property-anchor,
a.property-anchor:link,
a.property-anchor:visited,
a.property-anchor:active{
	background: transparent url(../img/layout_1/btn-left.png) 0 0 no-repeat;
	color: #fff;
	display: inline-block;
	font: normal 16px/33px "Myriad Pro", "Trebuchet MS", sans-serif;
	height: 37px;
	line-height: 37px;
	position: relative;
	padding: 0 18px 0 18px;
	text-shadow: -1px -1px 1px #000;
	text-decoration: none;
}
a.property-anchor:hover{
	background-position: 0 -37px;
	text-decoration: none;
}
.property-anchor abbr{
	background: #f2f2f2 url(../img/layout_1/btn-right.png) 0 0 no-repeat;
	display: inline-block;
	width: 5px;
	height: 37px;
	position: absolute;
	top: 0;
	right: 0;
}
a.property-anchor:hover abbr{
	background-position: 0 -37px;
}
/* blue buttons */
.property-button,
a.property-button:link,
a.property-button:active,
a.property-button:visited,
a.property-button:focus{
	background: transparent url(../img/layout_1/blue-left.png) 0 0 no-repeat;
	border: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font: normal 13px/18px "Myriad Pro", "Trebuchet MS", sans-serif;
	height: 36px;
	line-height: 32px;
	margin: 0;
	padding: 0 20px;
	position: relative;
	text-transform: uppercase;
	vertical-align: middle;
	text-decoration: none;
}
.property-button abbr{
	background: #fcfcfc url(../img/layout_1/blue-right.png) 0 0 no-repeat;
	display: block;
	height: 36px;
	position: absolute;
	top: 0;
	right: 0;
	width: 4px;
}
a.property-button:hover,
.property-button:hover,
.property-button-hover{
	background-position: 0 -36px;
	text-decoration: none;
}
.property-button:hover abbr,
.property-button-hover abbr{
	background-position: 0 -36px;
}
/* locale menu */
.property-buttonset{
	float: right;
	list-style: none;	
	margin: 5px 0 0 0;
	padding: 0;
	overflow: hidden;
}
.property-buttonset li{
	float: left;
	height: 37px;
	line-height: 37px;
	text-align: center;
}
.property-buttonset li a,
.property-buttonset li a:link,
.property-buttonset li a:visited,
.property-buttonset li a:active,
.property-buttonset li a:focus,
.property-buttonset li a:hover{
	background: transparent url(../img/layout_1/locale-middle.png) 0 0 no-repeat;
	color: #b1b1b2;
	display: block;
	float: left;
	height: 37px;
	line-height: 32px;
	width: 40px;
	text-decoration: none;
}
.property-buttonset li:first-child a,
.property-buttonset li.property-buttonset-first a{
	background: transparent url(../img/layout_1/locale-left.png) 0 0 no-repeat;
	width: 40px;
}
.property-buttonset li:last-child a,
.property-buttonset li.property-buttonset-last a{
	background: transparent url(../img/layout_1/locale-right.png) 0 0 no-repeat;
	width: 38px;
}
.property-buttonset img{
	border: none;
	margin: 11px 0 0 0;
	padding: 0;
}
.property-list{
	color: #63728b;
	list-style-type: disc;
	list-style-position: inside;
	font: normal 13px/24px Arial, sans-serif;
	margin: 0;
	padding: 0;
}
.property-captcha{
	vertical-align: middle;	
}

.property-datepicker-wrap{
	background: transparent url(../img/layout_1/pagin-left.png) 0 0 no-repeat;
	display: inline-block;
	height: 36px;
	position: relative;
}
.property-datepicker-input{
	border: none;
	background: transparent url(../img/layout_1/pagin-left.png) -10px 0 no-repeat;
	color: #444546;
	cursor: pointer;
	margin: 0 0 0 5px;
	padding: 8px 0;
	width: 80px;
}
.property-datepicker-icon{
	background: transparent url(../img/layout_1/icon-calendar.png) 0 0 no-repeat;
	border: none;
	cursor: pointer;
	display: inline-block;
	margin: 0 5px 0 0;
	width: 15px;
	height: 16px;
}
.property-datepicker-wrap abbr{
	background: #FCFCFC url(../img/layout_1/pagin-right.png) 0 0 no-repeat;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	height: 36px;
	width: 5px;
}

/* Grid */
.property-grid-wrap{
	position: relative;
	overflow: auto;
}
.property-grid,
.property-grid-mask{
	background-color: #fcfcfc;	
	border: solid 1px #e0dfdf;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	padding: 10px;	
	color: #92979d;
	font: normal 13px/19px Arial, sans-serif;
	height: 204px;
	width: 215px;
	float: left;
	margin: 0 5px 15px 0;
}
.property-grid:nth-child(3n+0),
.property-grid-last{
	margin-right: 0;
}
.property-grid-hover,
.property-grid:hover{
	border: solid 1px #a7c1d9;
	background-color: #fff;
}
.property-grid-title{
	color: #306eb3;
	font: bold 16px/20px Arial, sans-serif;
	height: 38px;
	margin: 0 0 5px;
	overflow: hidden;
}
.property-grid-pic{
	margin: 0 0 10px;
}
.property-grid-pic img{
	border: none;
	max-width: 215px;
	max-height: 161px;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}
.property-grid-details{
	display: none;
	margin: 0 0 10px;
	height: 40px;
	overflow: hidden;
	line-height: 20px;
}
.property-grid-btn{
	display: none;
}
.property-grid-mask{
	border: solid 1px #a7c1d9;
	background-color: #fff;
	display: none;
	float: none;
	height: 302px;
	position: absolute;
	z-index: 9999;
	margin: 0;
}
.property-status-error{
	color: red;
	padding: 0 0 10px;
}
.property-status-success{
	color: green;
	padding: 0 0 10px;
}
.property-form-tbl{
	color: #888;
	font: normal 13px Arial, Helvetica, sans-serif;
}
.property-form-tbl td{
	padding: 0 0 5px;
}